.btn-add{
	margin-bottom: 10px;
}

.btn-green{
    color: #fff;
    background-color: $sm-green;
    border-color: darken($sm-green,5%);
    &:hover, &:focus{
        background-color: darken($sm-green,5%);
    }
    &:active:focus{
        background-color: darken($sm-green,10%);
    }
}