.guide{
  margin-bottom: 20px;
  &-body{
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    margin: 8px;
  }
  &-img{
    text-align: center;
    margin: 15px;
  }
}

#accordion{
  .panel-title{
    a{
      display: block;
    }
  }
}

.header{
  background-color: $sm-black;
  .navbar{
    margin-bottom: 0;
  }

  @media only screen and (min-width: 768px) {
    .navbar-right{
      margin-right: initial;
    }
  }

  .navbar-nav a{
    color: $sm-gray;
  }

  .navbar-brand{
    color: $sm-green;
    height: 70px;
    padding: 10px 15px;
  }

  #logo{
    margin: 10px 20px 10px 10px;
  }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: darken($sm-black,10%);
  }
  
  .nav > li > a{
    height: 75px;
    padding-top: 25px;
    &:hover, &:visited, &:focus, &:active{
      background-color: darken($sm-black,10%);
    }
  }

  .dropdown-menu { 
    background-color: darken($sm-black,10%) !important;
    li > a{
      color: $sm-gray;
      &:hover, &:focus{
        background-color: darken($sm-black,15%);
      }
    }
    .divider{
        background-color: #000;
    }
  }

  .navbar-nav .open .dropdown-menu{
    background-color: $sm-black;
  }
}


.left-sidebar{
  padding: 0;
    background-color:darken($sm-black,5%);
    background-repeat: repeat;
  min-height: 550px;
  ul>li>a{
    color: $sm-gray;
    &:hover, &:focus{
            background-color: darken($sm-black,10%) !important;
    }
  }
    nav{
        width:100%;
        padding: 5px;
        margin:0;
        position:relative;
    };
    li{
        width: 100%;
    };
}

.sidebar-submenu{
    color: $sm-gray;
    a{
        color: $sm-gray;
        text-decoration: none;
    }
    a:hover,a:focus{
        font-weight: 600;
    }
}

.wrapper{
  padding-left: 300px;
  padding-top: 80px;
  margin-bottom: 20px;
}

.prompt-question{
  a{
    color: $sm-black;
    display: block;
  }
  &:hover{
    background-color: lighten($sm-black, 10%);
    a{
      color: $sm-gray;
      text-decoration: none;
    }
  }
}

footer{
  background-color: $sm-black;
  color: $sm-gray;
  font-size: 12px;
  height: 30px;
  .container-fluid{
    div{
      line-height: 30px;
    }
  }
}

.footer-user{
  opacity: 0.5;
}

.footer-user.show{
  opacity: 1;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color:darken($sm-black,5%);
  position: fixed;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 50px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid $sm-green;
  background-color:darken($sm-black,10%);
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: $sm-gray;
  margin-left: 15px;
  display: block;
  font-size: 14px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    min-height: 50px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }

  .navbar-header .navbar-toggle{
    border-color: darken($sm-green,5%);
    &:focus, &:hover, &:active{
      background-color: darken($sm-black,5%);
    }
  }

  .navbar-header .navbar-toggle .icon-bar{
    background-color: darken($sm-green,10%);
  }

}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}