.active{
	a{
		background-color: darken($sm-black,10%);
		color: $sm-green !important;
	}
}

.text-smaller{
	font-size: 60%;
}

.hidden{
	visibility: hidden;
}

#chkbox-balasan{
	cursor: pointer;
}

.home-login{
  background-image: url('../img/student-lab-2.jpg');
  background-size: cover;
}
