.navbar-nav .divider-vertical{
	height: 26px;
	border-left: 1px solid $sm-green;
	border-right: 1px solid $sm-green;
	margin: 24px 10px;
}

.navbar-nav > li > .dropdown-menu{
	margin-top: 0px;
}

.dropdown-user{
	padding-top: 15px !important;
}

.navbar-avatar{
	padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}


@media only screen and (max-width: 800px){.navbar-nav .divider-vertical {height:0;border-left: 0;border-right: 0; border-top: 1px solid $sm-green; margin: 5px 15px;} } 