/* Coolors Exported Palette - coolors.co/1bb993-5cacd8-c94437-373737-e0dece */

$sm-green: #1bb993; //rgba(27, 185, 147, 100)
$sm-blue: #5cacd8; //rgba(92, 172, 216, 100)
$sm-red: #c94437; //rgba(201, 68, 55, 100)
$sm-black: #373737; //rgba(55, 55, 55, 100)
$sm-gray: #e0dece; //rgba(224, 222, 206, 100)