.large-panel{
	margin-bottom: 50px;
	.border{
		border: 0.5px solid $sm-green;
		border-radius: 3px;
		padding: 15px 25px;
	}
}

.panel__button{
    display: inline-block;
    text-align: right;
    width: 100%;
    margin-bottom: 5px;
}

.card-panel{
	margin: 10px 0;
	a{
		text-decoration: none;
		color: $sm-black;
	}
	.kelas_img{
		position: relative;
	}
	.kelas_title{
		margin-bottom: 5px;
	    background-color: #373737;
	    color: #e0dece;
	    border-top: 2px solid #1bb993;
	    padding: 2px 5px;
	}
	&:hover{
		.card-panel__overlay{
			background: rgba(0, 0, 0, 0.4);
			visibility: visible;
		}
	}
}

.card-panel__overlay{
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	visibility: hidden;
	&-button{
		float: right;
	    margin: 5px 5px;
	}
	&-text{
		text-align: center;
		margin-top: 60px;
		color: $sm-gray;
	}
}

.page-info{
	margin: 0.75em 0;
	&__title{
		font-size: 2em;
	}
	&__kelas{
		font-size: 1.5em;
		text-transform: capitalize;
		color: lighten($sm-black, 30%);
	}
	&__description{
		margin: 5px 0;
	}
}

.panel, .panel-heading{
	border-radius: 0px;
}
.panel-login{
		margin-top: 50px;
		border-color: $sm-black;
		.panel-heading{
	    color: $sm-gray;
	    background-color: $sm-black;
	    border-color: $sm-green;
	    border-bottom-width: 3px;
    }
}
.kelas-prompt{
	font-size: 1.5em;
	margin-top: 15px;
}
.prompt-topik{
	margin-bottom: 5px;
}

.panel-prompt{
	background-color: lighten($sm-gray,10%);
	border-left: 2px dashed $sm-green;
	padding: 10px 10px;
	
	&__question{
		font-size: 1.1em;
		margin-bottom: 15px;
	}
	&__kata-kunci{
		font-size: 0.8em;
	}
	&__details{
		font-size: 0.6em;
	}
	&__button{
		float: right;
	}
}

.panel-answers{
	margin-top: 15px;
	.panel-answer--single{
		margin-top: 10px;
		background-color: lighten($sm-gray,10%);
		border-left: 2px solid $sm-green;
		padding: 10px 10px 10px 100px;

		&__avatar{
			position: absolute;
			left: 58px;
			margin-top: 6px;
			img{
				height: 68px;
				width: 68px;
			}
		}

		&__answer{
			font-size: 0.9em;
			margin-bottom: 15px;
		}
		&__user{
			font-size: 0.8em;
		}
		&__details{
			font-size: 0.6em;
		}
		&__feedback{
			float: right;
		}
	}
}

.panel-answer--single.feedback{
	margin-top: 15px;
	background-color: lighten($sm-gray,10%);
	border-left: 2px dashed $sm-green;
	padding: 10px 10px;
}

.panel-answering{
	padding: 10px;
	margin-top: 15px;
	&__feedback{
		margin-top: 15px;
	}
}

.panel-feedback{
	margin-top: 10px;
	font-size: 0.8em;
	&__replied{
		margin-top: 10px;
		margin-left: 50px;
		background-color: lighten($sm-gray,10%);
		border-left: 2px solid $sm-green;
		padding: 10px;
		font-size: 0.8em;
	}
}

@media only screen and (min-width: 970px) and (max-width: 1170px){
	.card-panel__overlay-text{
		margin-top: 42px;
	}
}

@media only screen and (min-width: 800px) and (max-width: 970px){
	.card-panel__overlay-text{
		margin-top: 28px;
	}
}

@media only screen and (max-width: 800px){
	.card-panel{
		text-align: center;
		.kelas_img{
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
} 
