.table{
  margin: 0px;
}

.table{
	border-color: $sm-black;
	thead{
		tr{
			th{
				background-color: $sm-black;
				color: $sm-gray;
				border-color: $sm-black;
				border-bottom-color: $sm-green;
				border-bottom-width: 3px;
			}		
		}
	}
}

.table-kelas{
	td.item{
		padding: 0px 8px !important;
		height: 100%;
		border: none;
		a{
			padding-top: 8px;
			padding-bottom: 8px;
			display: block;
			color: $sm-black;
			height: 100%;
			&:hover{
				font-weight: 700;
				text-decoration: none;
			}
		}
		&:hover, &.active-kelas{
			a{
				color: $sm-gray;
			}
			background-color: lighten($sm-black, 10%);
		}
	}
}

.pagination{
	li{
		a{
			color: $sm-black;
			&:hover{
				color: $sm-green;
			}
		}
	}

	li.active{
		span{
			background-color: $sm-black;
			border-color: $sm-black;
			&:hover{
				background-color: $sm-black;
				border-color: $sm-black;
			}
		}
	}
}