@font-face {
  font-family: "Titillium";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/Titillium.otf") format("opentype"); }
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE <10.
 * Add the correct display in Edge, IE, and Firefox for `details` or `summary`.
 * Add the correct display in IE for `main`.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * Add the correct display in IE <10.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display and remove excess height in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE <11, Safari <8, and Firefox <22.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox <40.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/**
 * Add the correct font style in Android <4.4.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0; }

/**
 * Add the correct background and color in IE <10.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE <11.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1.5em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from default to text.
 * - The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control font, padding, border, or background. In Chrome
 *   and Safari on Windows you can't control border properly. It will apply
 *   border-width but will only show a border color (which cannot be controlled)
 *   for the outer 1px of that border. Applying -webkit-appearance: textfield
 *   addresses these issues without removing the benefits of search inputs (e.g.
 *   showing past searches). Safari (but not Chrome) will clip the cancel button
 *   on when it has padding (and textfield appearance).
 */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 * 3. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 4. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE <11.
 * 2. Remove the padding in IE <11.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 * 4. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */ }

/**
 * Restore the font weight unset by a previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

body {
  font: 100% Titillium, sans-serif; }

/* Coolors Exported Palette - coolors.co/1bb993-5cacd8-c94437-373737-e0dece */
.active a {
  background-color: #1e1e1e;
  color: #1bb993 !important; }

.text-smaller {
  font-size: 60%; }

.hidden {
  visibility: hidden; }

#chkbox-balasan {
  cursor: pointer; }

.home-login {
  background-image: url("../img/student-lab-2.jpg");
  background-size: cover; }

.guide {
  margin-bottom: 20px; }
  .guide-body {
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    margin: 8px; }
  .guide-img {
    text-align: center;
    margin: 15px; }

#accordion .panel-title a {
  display: block; }

.header {
  background-color: #373737; }
  .header .navbar {
    margin-bottom: 0; }
  @media only screen and (min-width: 768px) {
    .header .navbar-right {
      margin-right: initial; } }
  .header .navbar-nav a {
    color: #e0dece; }
  .header .navbar-brand {
    color: #1bb993;
    height: 70px;
    padding: 10px 15px; }
  .header #logo {
    margin: 10px 20px 10px 10px; }
  .header .nav .open > a, .header .nav .open > a:hover, .header .nav .open > a:focus {
    background-color: #1e1e1e; }
  .header .nav > li > a {
    height: 75px;
    padding-top: 25px; }
    .header .nav > li > a:hover, .header .nav > li > a:visited, .header .nav > li > a:focus, .header .nav > li > a:active {
      background-color: #1e1e1e; }
  .header .dropdown-menu {
    background-color: #1e1e1e !important; }
    .header .dropdown-menu li > a {
      color: #e0dece; }
      .header .dropdown-menu li > a:hover, .header .dropdown-menu li > a:focus {
        background-color: #111111; }
    .header .dropdown-menu .divider {
      background-color: #000; }
  .header .navbar-nav .open .dropdown-menu {
    background-color: #373737; }

.left-sidebar {
  padding: 0;
  background-color: #2a2a2a;
  background-repeat: repeat;
  min-height: 550px; }
  .left-sidebar ul > li > a {
    color: #e0dece; }
    .left-sidebar ul > li > a:hover, .left-sidebar ul > li > a:focus {
      background-color: #1e1e1e !important; }
  .left-sidebar nav {
    width: 100%;
    padding: 5px;
    margin: 0;
    position: relative; }
  .left-sidebar li {
    width: 100%; }

.sidebar-submenu {
  color: #e0dece; }
  .sidebar-submenu a {
    color: #e0dece;
    text-decoration: none; }
  .sidebar-submenu a:hover, .sidebar-submenu a:focus {
    font-weight: 600; }

.wrapper {
  padding-left: 300px;
  padding-top: 80px;
  margin-bottom: 20px; }

.prompt-question a {
  color: #373737;
  display: block; }
.prompt-question:hover {
  background-color: #515151; }
  .prompt-question:hover a {
    color: #e0dece;
    text-decoration: none; }

footer {
  background-color: #373737;
  color: #e0dece;
  font-size: 12px;
  height: 30px; }
  footer .container-fluid div {
    line-height: 30px; }

.footer-user {
  opacity: 0.5; }

.footer-user.show {
  opacity: 1; }

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2a2a2a;
  position: fixed;
  width: 300px;
  height: 100%;
  color: #e1ffff; }

.nav-side-menu .toggle-btn {
  display: none; }

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 50px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/ }

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right; }

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #1bb993;
  background-color: #1e1e1e; }

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d; }

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d; }

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px; }

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203; }

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e; }

.nav-side-menu li a {
  text-decoration: none;
  color: #e0dece;
  margin-left: 15px;
  display: block;
  font-size: 14px; }

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px; }

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; }

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    min-height: 50px; }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center; }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important; }

  .navbar-header .navbar-toggle {
    border-color: #18a381; }
    .navbar-header .navbar-toggle:focus, .navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:active {
      background-color: #2a2a2a; }

  .navbar-header .navbar-toggle .icon-bar {
    background-color: #158c70; } }
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block; } }
.table {
  margin: 0px; }

.table {
  border-color: #373737; }
  .table thead tr th {
    background-color: #373737;
    color: #e0dece;
    border-color: #373737;
    border-bottom-color: #1bb993;
    border-bottom-width: 3px; }

.table-kelas td.item {
  padding: 0px 8px !important;
  height: 100%;
  border: none; }
  .table-kelas td.item a {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    color: #373737;
    height: 100%; }
    .table-kelas td.item a:hover {
      font-weight: 700;
      text-decoration: none; }
  .table-kelas td.item:hover, .table-kelas td.item.active-kelas {
    background-color: #515151; }
    .table-kelas td.item:hover a, .table-kelas td.item.active-kelas a {
      color: #e0dece; }

.pagination li a {
  color: #373737; }
  .pagination li a:hover {
    color: #1bb993; }
.pagination li.active span {
  background-color: #373737;
  border-color: #373737; }
  .pagination li.active span:hover {
    background-color: #373737;
    border-color: #373737; }

h2 {
  font-size: 24px; }

.capitalize {
  text-transform: capitalize; }

.btn-add {
  margin-bottom: 10px; }

.btn-green {
  color: #fff;
  background-color: #1bb993;
  border-color: #18a381; }
  .btn-green:hover, .btn-green:focus {
    background-color: #18a381; }
  .btn-green:active:focus {
    background-color: #158c70; }

.large-panel {
  margin-bottom: 50px; }
  .large-panel .border {
    border: 0.5px solid #1bb993;
    border-radius: 3px;
    padding: 15px 25px; }

.panel__button {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-bottom: 5px; }

.card-panel {
  margin: 10px 0; }
  .card-panel a {
    text-decoration: none;
    color: #373737; }
  .card-panel .kelas_img {
    position: relative; }
  .card-panel .kelas_title {
    margin-bottom: 5px;
    background-color: #373737;
    color: #e0dece;
    border-top: 2px solid #1bb993;
    padding: 2px 5px; }
  .card-panel:hover .card-panel__overlay {
    background: rgba(0, 0, 0, 0.4);
    visibility: visible; }

.card-panel__overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  visibility: hidden; }
  .card-panel__overlay-button {
    float: right;
    margin: 5px 5px; }
  .card-panel__overlay-text {
    text-align: center;
    margin-top: 60px;
    color: #e0dece; }

.page-info {
  margin: 0.75em 0; }
  .page-info__title {
    font-size: 2em; }
  .page-info__kelas {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #848484; }
  .page-info__description {
    margin: 5px 0; }

.panel, .panel-heading {
  border-radius: 0px; }

.panel-login {
  margin-top: 50px;
  border-color: #373737; }
  .panel-login .panel-heading {
    color: #e0dece;
    background-color: #373737;
    border-color: #1bb993;
    border-bottom-width: 3px; }

.kelas-prompt {
  font-size: 1.5em;
  margin-top: 15px; }

.prompt-topik {
  margin-bottom: 5px; }

.panel-prompt {
  background-color: #f4f3ed;
  border-left: 2px dashed #1bb993;
  padding: 10px 10px; }
  .panel-prompt__question {
    font-size: 1.1em;
    margin-bottom: 15px; }
  .panel-prompt__kata-kunci {
    font-size: 0.8em; }
  .panel-prompt__details {
    font-size: 0.6em; }
  .panel-prompt__button {
    float: right; }

.panel-answers {
  margin-top: 15px; }
  .panel-answers .panel-answer--single {
    margin-top: 10px;
    background-color: #f4f3ed;
    border-left: 2px solid #1bb993;
    padding: 10px 10px 10px 100px; }
    .panel-answers .panel-answer--single__avatar {
      position: absolute;
      left: 58px;
      margin-top: 6px; }
      .panel-answers .panel-answer--single__avatar img {
        height: 68px;
        width: 68px; }
    .panel-answers .panel-answer--single__answer {
      font-size: 0.9em;
      margin-bottom: 15px; }
    .panel-answers .panel-answer--single__user {
      font-size: 0.8em; }
    .panel-answers .panel-answer--single__details {
      font-size: 0.6em; }
    .panel-answers .panel-answer--single__feedback {
      float: right; }

.panel-answer--single.feedback {
  margin-top: 15px;
  background-color: #f4f3ed;
  border-left: 2px dashed #1bb993;
  padding: 10px 10px; }

.panel-answering {
  padding: 10px;
  margin-top: 15px; }
  .panel-answering__feedback {
    margin-top: 15px; }

.panel-feedback {
  margin-top: 10px;
  font-size: 0.8em; }
  .panel-feedback__replied {
    margin-top: 10px;
    margin-left: 50px;
    background-color: #f4f3ed;
    border-left: 2px solid #1bb993;
    padding: 10px;
    font-size: 0.8em; }

@media only screen and (min-width: 970px) and (max-width: 1170px) {
  .card-panel__overlay-text {
    margin-top: 42px; } }
@media only screen and (min-width: 800px) and (max-width: 970px) {
  .card-panel__overlay-text {
    margin-top: 28px; } }
@media only screen and (max-width: 800px) {
  .card-panel {
    text-align: center; }
    .card-panel .kelas_img img {
      display: block;
      margin: 0 auto; } }
.navbar-nav .divider-vertical {
  height: 26px;
  border-left: 1px solid #1bb993;
  border-right: 1px solid #1bb993;
  margin: 24px 10px; }

.navbar-nav > li > .dropdown-menu {
  margin-top: 0px; }

.dropdown-user {
  padding-top: 15px !important; }

.navbar-avatar {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  width: 50px;
  height: 50px; }

@media only screen and (max-width: 800px) {
  .navbar-nav .divider-vertical {
    height: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #1bb993;
    margin: 5px 15px; } }
.select2-container--bootstrap .select2-selection--multiple {
  min-height: 100px !important; }

textarea {
  resize: none; }

.admin .content {
  font-size: 32px;
  text-align: center;
  margin-top: 15%; }

/*# sourceMappingURL=styles.css.map */
